[build-system]
requires = ["flit_core >=2,<3"]
build-backend = "flit_core.buildapi"

[tool.black]
target-version = ["py38"]
line-length = 119

[tool.flit.metadata]
module = "rnanorm"
author = "Genialis, Inc."
author-email = "miha@genialis.com"
home-page="https://github.com/genialis/rnaseq-normalization/"
description-file = "README.md"
requires=[
    "pandas~=1.0.1",
    "black",
    "pydocstyle",
    "isort",
    "flake8",
]

[tool.flit.metadata.requires-extra]
test = [
    "pytest",
]

[tool.flit.scripts]
rnanorm = "rnanorm.__main__:main"

[tool.isort]
line_length = 119
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
